.nav-bar-container{
    display: flex;
    justify-content: center;
    padding: 15px;
    border: solid ;
    border-radius: 8px;
}

a{
    padding: 10px;
    text-decoration: none;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: tomato;
}



